<ng-container *ngIf="editBookForm">
  <h2 mat-dialog-title>Edit {{data.title}}</h2>
  <mat-dialog-content [formGroup]="editBookForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Book name</mat-label>
      <input matInput formControlName="title" placeholder="ex. Dune">
      <mat-error>
        <span *ngIf="editBookForm.controls['title'].errors?.['required']">Title is required</span>
        <span *ngIf="editBookForm.controls['title'].errors?.['bookTitleExists']">Book title exists</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Author name</mat-label>
      <input matInput formControlName="author" placeholder="ex. Frank herbert">
      <mat-error>
        Author name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>Publish year</mat-label>
      <input matInput formControlName="year" type="number" placeholder="ex. 1932">
      <mat-error>
        <span *ngIf="editBookForm.controls['year'].errors?.['required']">Publish Year is required</span>
        <span *ngIf="editBookForm.controls['year'].errors?.['pattern'] ||
          editBookForm.controls['year'].errors?.['max']">Publish
          Year must be valid number</span>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onEditHandler()">Save</button>
    <button mat-button (click)="onCloseHandler()">Close</button>
  </mat-dialog-actions>
</ng-container>
