<ng-container *ngIf="editBookForm">
  <h2 mat-dialog-title>Edit {{data.name}}</h2>
  <mat-dialog-content [formGroup]="editBookForm">
    <h4 class="mb-0">Name: </h4>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput formControlName="name" placeholder="ex. Dune">
      <mat-error>
        <span *ngIf="editBookForm.controls['name'].errors?.['required']">Name is required</span>
        <span *ngIf="editBookForm.controls['name'].errors?.['bookNameExists']">Book name exists</span>
      </mat-error>
    </mat-form-field>
    <h4 class="mb-0">Author name:</h4>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput formControlName="author" placeholder="ex. Frank herbert">
      <mat-error>
        Author name is required
      </mat-error>
    </mat-form-field>
    <h4 class="mb-0">Year:</h4>
    <mat-form-field appearance="outline" class="w-50">
      <input matInput formControlName="year" type="number" placeholder="ex. 1932">
      <mat-error>
        <span *ngIf="editBookForm.controls['year'].errors?.['required']">Publish Year is required</span>
        <span *ngIf="editBookForm.controls['year'].errors?.['pattern']">Publish year must be valid number</span>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onEditHandler()">Edit</button>
    <button mat-button (click)="onCloseHandler()">Close</button>
  </mat-dialog-actions>
</ng-container>
