<section>
  <h1 class="text-center">Favorite books</h1>
  <ng-container *ngIf="!showNewBookForm;else newFavoriteBook">
    <button mat-raised-button color="primary" (click)="onShowAddFormHandler(true)">
      <mat-icon class="fs-5 mt-1">add</mat-icon>
      New book
    </button>
  </ng-container>
  <ng-template #newFavoriteBook>
    <app-new-favorite-book (hideFormEvent)="onShowAddFormHandler($event)"></app-new-favorite-book>
  </ng-template>
  <app-favorite-books-table></app-favorite-books-table>
</section>
