@use "sass:map";
@use "@angular/material" as mat;
@use "@angular/material/theming" as mat-theming;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "~bootstrap/scss/bootstrap";
@include mat.core();

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "poppins", sans-serif;
}

$custom-primary: mat.define-palette(mat.$purple-palette, 500);
$custom-accent: mat.define-palette(mat.$pink-palette, 500);
$custom-warn: mat.define-palette(mat.$red-palette, 500);
$custom-typography: mat.define-typography-config(
  $font-family: "poppins",
);

@include mat.core($custom-typography);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
    typography: $custom-typography,
  )
);

@include mat.all-component-themes($custom-theme);
$color-config: mat.get-color-config($custom-theme);
$primary-palette: map.get($color-config, "primary");
$accent-palette: map.get($color-config, "accent");
$warn-palette: map.get($color-config, "warn");

/* colors */
.text-primary {
  color: map-get($primary-palette, 500) !important;
}
/*bootstrap*/
.fs-sm {
  font-size: 0.75rem !important;
}
// scrollblock start -600 top so the main page shrink height!
.cdk-global-scrollblock {
  position: static;
  overflow: hidden !important;
}
